/*!
  Copyright: WormShop Ltd. All Rights Reserved
  Authors: Kaina *insert name here if you worked on this file*
  Purpose: Fun & Entertainment
*/
/* reem-kufi-regular - latin */
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/reem-kufi-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Reem Kufi Regular"), local("ReemKufi-Regular"), url("../fonts/reem-kufi-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/reem-kufi-v6-latin-regular.woff2") format("woff2"), url("../fonts/reem-kufi-v6-latin-regular.woff") format("woff"), url("../fonts/reem-kufi-v6-latin-regular.ttf") format("truetype"), url("../fonts/reem-kufi-v6-latin-regular.svg#ReemKufi") format("svg");
  /* Legacy iOS */ }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ------------------------------
  Breakpoint Settings
------------------------------ */
/* ------------------------------
  Breakpoint Mixin
------------------------------ */
/* ------------------------------
  Z-Index
------------------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #e1e1e1;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6em; }

.navbar {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5);
  box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5);
  width: 520px;
  height: 50px;
  background: rgba(216, 216, 216, 0.5);
  border-radius: 0 0 40px 40px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1; }
  .navbar .logo h1 {
    color: #2e2e2e; }
  .navbar .nav-links a {
    text-decoration: none;
    color: #424242;
    padding: 5px;
    /* float: left; you can re-enable that so theres no space in-between the links */
    letter-spacing: 1px;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .navbar .nav-links a:hover {
      color: #2b82a5; }

.green-worm-img {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/green-worm.png");
  background-position: center;
  background-size: cover; }
  .green-worm-img:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 38px 76px 38px;
    border-color: transparent transparent #e1e1e1 transparent; }

.categories {
  width: 100%;
  height: 200px; }
  .categories-h1 {
    margin: 40px auto 20px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1; }

.category-buttons {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.category {
  position: relative;
  border-radius: 20%;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px rgba(66, 66, 66, 0.9);
  box-shadow: 0 2px 10px rgba(66, 66, 66, 0.9); }
  .category--1 {
    background-image: url("../images/cat1.png"); }
  .category--2 {
    background-image: url("../images/cat2.png"); }
  .category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #dbdbdb;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px black; }
  .category:hover {
    opacity: 0.8; }
